<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/_base.css">
    <link rel="stylesheet" href="/style.css">
    <title>Document</title>
</head>
<body>
    
<h1> The most contreversial songs ever made</h1>

<section class="titles">

    <div class="title">
        <div class="bar">
        <h2>Strange fruit Billie Holiday</h1>
        </div>
    </div>

    <div class="title">
            <div class="bar">
            <h2>The Pill</h1>
            </div>
        </div>

        <div class="title">
                <div class="bar">
                <h2>I Want Your Sex</h1>
                </div>
            </div>

            <div class="title">
                    <div class="bar">
                    <h2>I Want to Break Free</h1>
                    </div>
                </div>

                <div class="title">
                        <div class="bar">
                        <h2>The Pill</h1>
                        </div>




</section>
</body>
</html>